body {
    font: 1em/1.5em sans-serif;
    width: 95%;
    height: 95%;
    /*background-color: #DDDDDD;*/

    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
.message {
/*    vertical-align: bottom; */
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    text-align: center;
}
.intro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#background-color {
    background-color: #2D2C2E;
}
#background-overlay {
    background: url(/img/generated-background-overlay.png);
}
.the_message {
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
}
@media (min-width: 80em) {
    .the_message {
	font-size: 350%;
    }
}
@media (max-width: 80em) {
    .the_message {
	font-size: 330%;
    }
}
@media (max-width: 70em) {
    .the_message {
	font-size: 280%;
    }
}
@media (max-width: 60em) {
    .the_message {
	font-size: 230%;
    }
}
@media (max-width: 50em) {
    .the_message {
	font-size: 180%;
    }
}
@media (max-width: 40em) {
    .the_message {
	font-size: 140%;
    }
}
@media (max-width: 30em) {
    .the_message {
	font-size: 90%;
    }
}
@media (max-width: 20em) {
    .the_message {
	font-size: 60%;
    }
}
@media (max-width: 15em) {
    .the_message {
	font-size: 40%;
    }
}
@media (max-width: 10em) {
    .the_message {
	font-size: 30%;
    }
}
